<form name="myForm" ng-submit="save()" class="form-horizontal" my-user="userInfo">
	<div ng-class="{'has-error': !userInfo.name}" class="form-group">
		<label class="control-label col-md-2">UserName:</label>
		<div class="col-md-10"><input type="text" class="form-control" ng-model="userInfo.name" required><span ng-show="!userInfo.name" class="help-block">Please input your name!</span></div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Password:</label>
		<div class="col-md-10"><input type="password" class="form-control" ng-model="userInfo.password" required></div>
	</div>
	<div ng-class="{'has-error': !userInfo.sex}" class="form-group">
		<label class="control-label col-md-2">Sex:</label>
		<div class="col-md-10">
			<select class="form-control" ng-model="userInfo.sex" required>
				<option value="{{sex.key}}" ng-repeat="sex in sexList" ng-selected="userInfo.sex==sex.key">{{sex.value}}</option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Favorite:</label>
		<div class="col-md-10">
			<div class="checkbox" class="col-md-1" ng-repeat="fav in favs"><label><input type="checkbox" name="fav" ng-click="setFav(fav)" value="{{fav.key}}" ng-checked="userInfo.fav.indexOf(fav.key) > -1">{{fav.value}}</label></div>
		</div>
	</div>
	<div class="form-group">
		<div  class="col-md-offset-2 col-md-10">
			<div class="checkbox">
				<label><input type="checkbox" ng-checked="userInfo.remember" ng-model="userInfo.remember">Remember Me</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit</button>
			<button type="button" class="btn btn-warning" ng-click="reset()">Reset</button>
		</div>
	</div>
</form>