<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="/socket.io/socket.io.js"></script>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-sanitize.min.js"></script>
  <script src="/lib/angular-cookies.min.js"></script>
  <script src="/src/app.js"></script>
  <script src="/src/socket.js"></script>
</head>
<body ng-app="myapp">

	<div class="container-fluid" ng-controller="mainController">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Easy Chat Room v0.0.1</strong></div>
      <div class="panel-body">
        <form name="frmMsg" class="form-horizontal" ng-submit="postMessage()">
          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group" ng-class="{'has-success': frmMsg.message.$valid, 'has-error': frmMsg.message.$invalid}">
                <span class="input-group-addon" ng-bind="name"></span>
                <input class="form-control" type="text" name="message" ng-model="message" placeholder="Write Some Messages" required/>
                <span class="input-group-btn"><button type="submit" class="btn btn-primary" ng-disabled="frmMsg.$invalid">Submit</button></span>
              </div>
            </div>
          </div>
        </form>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="msg in messages track by $index">
          <span class="text-right"><b>{{ msg.name }}: </b></span><span><i>{{ msg.msg }}</i></span>
        </li>
      </ul>
    </div>
	</div>

</body>
</html>